/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";




.palette-background {
    height: 1vh;
    width: 100%;
}

header {
    width: 100%;
    height: 50px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

li {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.entry-badge {
    border-radius: 5px;
    background-color: lightgreen;
    font-weight: bold;
    width: auto;
    margin-bottom: 3px;
}
