<div class="col">
    <div class="container" style="width: 80%;">
        <div class="d-flex justify-content-center">
            <h3 class="journal-date-text text-justify">
                {{ dateAsString() ? dateAsString() + ' - ' : '' }}{{selectedDate | date }}
            </h3>
            <div >
                <mat-datepicker-toggle [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </div>
        </div>
    </div>
    <div class="row">
        <simple-item-list></simple-item-list>
    </div>
</div>