<span class="d-flex justify-content-md-between">
    <div class="align-middle text-wrap col-8" style="height: auto;">
        {{simpleEntry.summary}}
    </div>
    <div class="col-2 justify-content-center">
        <div class="entry-badge text-center">
            {{simpleEntry.entryType.name}}
        </div>
        <div class="entry-badge text-center">
            {{simpleEntry.category.name}}
        </div>
        <div class="entry-badge text-center" *ngIf="!(simpleEntry.category === Categories.PERSONAL || simpleEntry.projectId)">
            {{simpleEntry.association ? simpleEntry.association.name : 'Project Entry //FIXME'}}
        </div>
    </div>
</span>