/* SCSS RGB */
$sky-blue-crayola: rgba(101, 222, 241, 1);
$middle-blue-green: rgba(168, 220, 209, 1);
$beige: rgba(220, 226, 200, 1);
$near-black: rgb(22, 31, 31);
$safety-orange-blaze-orange: rgba(249, 105, 0, 1);
$princeton-orange: rgba(241, 127, 41, 1);